@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* 移除 details 和 summary 元素的默认焦点轮廓 */
details {
  outline: none !important;
}

details:focus {
  outline: none !important;
}

summary {
  outline: none !important;
}

summary:focus {
  outline: none !important;
}

summary::-webkit-details-marker {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}
